<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>

<body>

<h2>Product List</h2>

<a th:href="@{/products/create}">Create Product</a>
<a th:href="@{/products/delete}">Delete Product</a>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    <tr th:each="p : ${products}">
        <td th:text="${p.productId}"></td>
        <td th:text="${p.productName}"></td>
        <td th:text="${p.productPrice}"></td>
    </tr>

</table>

</body>
</html>